{% extends 'base.html' %}
{% block content %}
<body class="text-center">
<main role="main" class="inner cover">
    <div class="card bg-transparent border-dark bg-transparent mx-75 d-block">
            <img class="card-img-top mx-75"
                 src="static/Images/aboutgrid.jpg"
                 alt="First slide">
    </div>
    <div class="card-body mx-auto">
        <h3 class="masthead-brand p-5">Mission</h3>
        <p class="lead">To build capacity for SME food processors and the local food industry by providing
            technical
            support for food processors in the industry so they can produce healthier, safer and more appealing
            food
            products</p>
        <h3 class="masthead-brand p-5">Vision</h3>
        <p class="lead">To become the top international consulting firm in Ghana that provides quality technical
            support
            to startups and SMEs in the Food processing industry and as a result, has contributed significantly
            towards
            the sustainable growth of SMEs and an increase in exports of made-in-Ghana food products.</p>
        <div class="card-body mx-auto">
            <h3 class="masthead-brand p-5">Values</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent">Progressive development</li>
                <li class="list-group-item bg-transparent">Realistic forecasts</li>
                <li class="list-group-item bg-transparent">Timely deliverables</li>
                <li class="list-group-item bg-transparent">Total Quality</li>
                <li class="list-group-item bg-transparent">Sustainability</li>
            </ul>
            <div class="card border-0 bg-transparent p-5">
                <p class="card-text bg-transparent">The Afri-Q360 team comprises of active members of IFT and the
                    Academy of Nutrition and Dietetics</p>
            </div>
        </div>
    </div>
</main>
</body>
{% endblock content %}