{% extends 'base.html' %}
{% block content %}
<body class="text-center">
<main role="main" class="inner cover min-vh-100 ">
    <div class="card-body mx-auto">
        <div class="card-deck h-auto d-inline-block">
            <div class="card-body p-5 ">
                <h3 class="masthead-brand"></h3>
                <p class="lead">At Afri-Q360 Food Consult, our team of Food Scientists, Food Safety
                    Specialists, and Marketing
                    experts with international
                    experience in Food product Development, Sensory Evaluation, Food Safety, Food Packaging and
                    Marketing,
                    International Food laws and Regulations are passionate about helping both small scale and
                    large
                    scale food processors develop quality and
                    innovative products that can compete with popular brands on national and international
                    markets, by
                    working closely with you from ideation to export.
                </p>
            </div>
        </div>
        <div class="card-deck ">
            <div class="card bg-transparent border-light bg-transparent border-3">
                <img class="card-img-top" src="static/Images/person-putting-cereals-in-a-polythene-bag-3794802.jpg">
                <div class="card-body">
                    <h3 class="card-title">Food Processing Research</h3>
                    <p class="card-text">Our team is well equipped for all your Food Processing Research needs including
                        various measures to optimize nutrition, industry compliant labelling as well as improving
                        existing products </p>
                    <div id="accordion1">
                        <div class="card bg-transparent border-dark bg-transparent">
                            <div class="card-header" id="headingOne1">
                                <h5 class="mb-0">
                                    <button class="btn btn-outline-dark border-0 " data-toggle="collapse"
                                            data-target="#collapseOne1"
                                            aria-expanded="true" aria-controls="collapseOne1">
                                        Product Development
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordion1">
                                <div class="card-body">
                                    We will help you get your product on the market using a cost-effective approach,
                                    working with you from ideation to commercialization. Our team of food scientists and
                                    technologists will work with you to formulate, select, and refine your concept. We
                                    will guide you through the entire food product development chain— formulation,
                                    prototyping, Lab testing, piloting, initial production, and product launch. Our goal
                                    is to help you craft a consistent and unique product to the satisfaction of your
                                    local and international customers. We also invest our skills in helping you improve
                                    already existing products to keep up with the ever-changing and unpredictable
                                    consumer trends
                                </div>
                            </div>
                        </div>
                        <div class="card bg-transparent border-dark bg-transparent">
                            <div class="card-header" id="headingTwo1">
                                <h5 class="mb-0">
                                    <button class="btn btn-outline-dark border-0 collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo1" aria-expanded="false"
                                            aria-controls="collapseTwo1">
                                        Sensory Analysis
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    Your prototype product tastes great and you are excited but wait—have you test drive
                                    your food product with your target market yet? What do your potential consumers
                                    think and how will they rate your product/package compared to your competitors? Our
                                    sensory scientists will develop well-tailored tools that your target consumers will
                                    use to assess the taste and quality of your food product. With your consumers’
                                    feedback, we’ll analyze the data and prepare a comprehensive report that will guide
                                    your next decision—modify raw materials and ingredients, optimize your production
                                    process, or even develop a new product. Sensory testing will save you a ton of time
                                    and unnecessary costs and reduce the risk of product failure in the market. We cater
                                    to all sensory needs. Contact us to see how we can help you achieve your goals.

                                </div>
                            </div>
                        </div>
                        <div class="card bg-transparent border-dark bg-transparent">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-outline-dark border-0  collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        Nutritional Labelling
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordion1">
                                <div class="card-body">
                                    Getting your food labels and nutritional facts right increases the visibility of
                                    your product and your chances of international export. You will work with our food
                                    scientists, nutritionists, and food regulatory experts to develop food and nutrition
                                    fact labels that comply with FDA and other regulatory requirements of your target
                                    country at an affordable price.
                                </div>
                            </div>
                        </div>
                        <div class="card bg-transparent border-dark bg-transparent">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-outline-dark border-0  collapsed" data-toggle="collapse"
                                            data-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                        Processing Techniques to Improve Nutrition
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                 data-parent="#accordion1">
                                <div class="card-body">
                                    Are you getting the maximum efficiency out of your processing line equipment and
                                    personnel? Or you want to create line extensions for different variants of your
                                    products? Is your process optimized for optimum stability, consistency, and
                                    nutrition? At Afri-Q360 we specialize in creating process flows that get you from
                                    farm to fork in the shortest reasonable time as well as help you incorporate
                                    ingredients that maximize output and elevate operations.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-transparent border-light bg-transparent">
                <img class="card-img-top"
                     src="static/Images/safety.jpg">
                <div class="card-body">

                    <h3 class="card-title">Food Safety</h3>
                    <p class="card-text"> We are able to construct food safety plans after site visits for new
                        facilities, or already existing processing facilities that need to upgrade their processing area
                        and food chain supply</p>
                    <div id="accordion">
                        <div class="card bg-transparent border-dark bg-transparent">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-outline-dark border-0 " data-toggle="collapse"
                                            data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                        Hazard Analysis and Critical Control Points (HACCP)
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    Hazard Analysis and Critical Control Points (HACCP) systems can help you identify
                                    points throughout your processing operations where control can be applied to
                                    minimize the occurrence of hazards
                                </div>
                            </div>
                        </div>
                        <div class="card bg-transparent border-dark bg-transparent">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-outline-dark border-0  collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        Hazard Analysis and Risk-Based Preventive Controls (HARPC)
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    Hazard Analysis and Risk-Based Preventive Controls (HARPC) involves implementing
                                    controls as other points in the food supply chain, other than critical control
                                    points. These include comprehensive hazard prevention systems for;
                                </div>
                            </div>
                        </div>
                        <div class="card bg-transparent border-dark bg-transparent">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-outline-dark border-0  collapsed" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                        Total Quality Management (TQM) Pre-requisite programs
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    At Afri-Q360, we believe your work ethics and goals should revolve around customer
                                    satisfaction. This is why we help you create a work culture where every individual
                                    involved in your organization participates in improving processes and services.
                                    Together we will help you create pre-requisite programs driven by data and analysis
                                    and continuous growth with quality principles as defined by the organization’s
                                    primary customer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-light bg-transparent">
                <img class="card-img-top"
                     src="static/Images/woman-cleaning-sweet-potatoes-2889093.jpg">
                <div class="card-body">

                    <h3 class="card-title">Logistics & Training</h3>
                    <p class="card-text">Coming soon!!! Stay tuned for exciting information on logistical support and
                        training programs for your facility</p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
{% endblock content %}